
{% comment %} <link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}
<div>
    <h1>
        Hellooo
    </h1>
</div>
{% schema %}
{
    "name": "SV - Carousel",
    "class": "section",
    "settings": [
        {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-with-text.settings.image.label"
        }
    ]
}
{% endschema %}