.effect__wrapper {
    width: 100%;
    height: 500px;
    background: url('./graffiti-bg-2.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
}

.effect__text__wrapper {
    position: relative;
    margin: 0;
    padding: 7rem;
    text-align: right;
}

.effect__description {
    max-width: 500px;
    margin-bottom: 2.5rem;
}

.effect__shoes {
    z-index: 3;
    margin-top: 6rem;
    object-fit: contain;
}

@media screen and (max-width: 480px) {
    .effect__shoes {
        display: none;
    }

    .effect__text__wrapper {
        padding: 0;
    } 

    .effect__wrapper {
        height: 500px;
        padding: 0 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 812px) {
    .effect__text__wrapper {
        padding: 0;
        margin-top: 8rem;
    }

    .effect__wrapper {
        flex-direction: column;
        height: 700px;
        align-items: center;
    }

    .effect__shoes {
        margin-top: 0;
    }
}

@media screen and (max-width: 990px) and (min-width: 813px) {
    .effect__shoes {
        height: auto;
        width: 40%;
    }
}
@media screen and (min-width: 1920px) {
    .effect__shoes {
        z-index: 3;
        height: 530px; 
        width: 530px; 
    }
}